<div class="form">
  <input #fileInput hidden type="file" (change)="onFileSelected($event)">
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>
    <span>Choose file</span>
  </button>
  <span [class.file-name]="fileName" [class.error]="errorMessage">{{ errorMessage || fileName || "No file chosen" }}</span>
  <mat-form-field class="email" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input [(ngModel)]="email" matInput color="primary">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sendFile()">Send <mat-icon class="icon">send</mat-icon></button>
</div>
<div class="progress" *ngIf="!fileSent">
  <mat-progress-spinner
  color="primary"
  mode="indeterminate">
  </mat-progress-spinner>
</div>